USE
[AIDataRAG]
GO
/****** Object:  Table [dbo].[md_documents]    Script Date: 3/27/2026 1:09:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[md_documents]
(
    [
    doc_id] [
    uniqueidentifier]
    NOT
    NULL, [
    file_path] [
    nvarchar]
(
    512
) NOT NULL,
    [file_name] [nvarchar]
(
    260
) NOT NULL,
    [title] [nvarchar]
(
    512
) NULL,
    [description] [nvarchar]
(
    2048
) NULL,
    [author] [nvarchar]
(
    256
) NULL,
    [ms_date] [date] NULL,
    [ms_topic] [nvarchar]
(
    256
) NULL,
    [yaml_front_matter] [nvarchar]
(
    4000
) NULL,
    [content_raw] [nvarchar]
(
    max
) NOT NULL,
    [content_normalized] [nvarchar]
(
    max
) NULL,
    [content_hash] [nvarchar]
(
    64
) NOT NULL,
    [word_count] [int] NULL,
    [ingested_at] [datetime2]
(
    7
) NOT NULL,
    [updated_at] [datetime2]
(
    7
) NULL,
    CONSTRAINT [PK_md_documents] PRIMARY KEY CLUSTERED
(
[
    doc_id]
    ASC
)
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF)
    ON [PRIMARY],
    CONSTRAINT [UQ_md_documents_file_path] UNIQUE NONCLUSTERED
(
[
    file_path]
    ASC
)
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF)
    ON [PRIMARY]
    )
    ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
    GO
/****** Object:  Index [IX_md_documents_ms_date]    Script Date: 3/27/2026 1:09:02 AM ******/
CREATE
NONCLUSTERED INDEX [IX_md_documents_ms_date] ON [dbo].[md_documents]
(
	[ms_date] ASC
)
INCLUDE([doc_id],[title],[file_path]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[md_documents] ADD CONSTRAINT [DF_md_documents_doc_id] DEFAULT (newsequentialid()) FOR [doc_id]
    GO
ALTER TABLE [dbo].[md_documents] ADD CONSTRAINT [DF_md_documents_ingested_at] DEFAULT (sysutcdatetime()) FOR [ingested_at]
    GO
