USE
[AIDataRAG]
GO
/****** Object:  Table [dbo].[RemoteRAG]    Script Date: 3/27/2026 1:09:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RemoteRAG]
(
    [
    Id] [
    int]
    IDENTITY
(
    1,
    1
) NOT NULL,
    [document_id] [uniqueidentifier] NOT NULL,
    [og_url] [nvarchar]
(
    500
) NOT NULL,
    [ms_date] [datetime2]
(
    7
) NOT NULL,
    [updated_at] [datetime2]
(
    7
) NULL,
    [title] [nvarchar]
(
    450
) NOT NULL,
    [description] [nvarchar]
(
    max
) NOT NULL,
    [keywords] [nvarchar]
(
    500
) NULL,
    [summary] [nvarchar]
(
    max
) NULL,
    [embedding] [vector]
(
    1024,
    float32
) NULL,
    [token_count] [int] NULL,
    [version] [int] NULL,
    [score] [float] NULL,
    CONSTRAINT [PK__RemoteRA__3214EC075F4501BD] PRIMARY KEY CLUSTERED
(
[
    Id]
    ASC
)
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF, DATA_COMPRESSION = PAGE)
    ON [PRIMARY]
    )
    ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
    GO
/****** Object:  Index [IX_RemoteRAG_ms_date]    Script Date: 3/27/2026 1:09:02 AM ******/
CREATE
NONCLUSTERED INDEX [IX_RemoteRAG_ms_date] ON [dbo].[RemoteRAG]
(
	[ms_date] DESC
)
INCLUDE([title],[document_id]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RemoteRAG_score]    Script Date: 3/27/2026 1:09:02 AM ******/
CREATE
NONCLUSTERED INDEX [IX_RemoteRAG_score] ON [dbo].[RemoteRAG]
(
	[score] DESC
)
INCLUDE([updated_at],[keywords],[summary],[embedding]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RemoteRAG_updated_at_filtered]    Script Date: 3/27/2026 1:09:02 AM ******/
CREATE
NONCLUSTERED INDEX [IX_RemoteRAG_updated_at_filtered] ON [dbo].[RemoteRAG]
(
	[updated_at] DESC
)
WHERE ([embedding] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_RemoteRAG_document_id]    Script Date: 3/27/2026 1:09:02 AM ******/
CREATE UNIQUE
NONCLUSTERED INDEX [UX_RemoteRAG_document_id] ON [dbo].[RemoteRAG]
(
	[document_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_RemoteRAG_og_url]    Script Date: 3/27/2026 1:09:02 AM ******/
CREATE UNIQUE
NONCLUSTERED INDEX [UX_RemoteRAG_og_url] ON [dbo].[RemoteRAG]
(
	[og_url] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RemoteRAG] ADD CONSTRAINT [DF__RemoteRAG__DocId__4F47C5E3] DEFAULT (newid()) FOR [document_id]
    GO
