USE
[AIDataRAG]
GO
/****** Object:  StoredProcedure [dbo].[Search_SemanticKeyPhrases]    Script Date: 3/27/2026 1:09:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************************************************************************************
  Procedure:   dbo.Search_SemanticKeyPhrases
  Purpose:     Retrieve semantic keyphrases extracted by SQL Server Semantic Search.
  Author:      Kyle
  Created:     2026‑03‑04
  Description:
      Returns keyphrases and their importance scores for a specific document. 
      Useful for debugging, tagging, and hybrid scoring.

  Parameters:
      @DocumentId   INT   -- Primary key of the document in RemoteRAG

  Returns:
      column_id, document_key, keyphrase, score
******************************************************************************************/
IF OBJECT_ID(N'[dbo].[Search_SemanticKeyPhrases]', N'P') IS NOT NULL
    DROP PROCEDURE
[dbo].[Search_SemanticKeyPhrases];
GO

CREATE PROCEDURE [dbo].[Search_SemanticKeyPhrases]
    @DocumentId INT
AS
BEGIN
    SET
NOCOUNT ON;

SELECT sk.column_id,
       sk.document_key,
       sk.keyphrase,
       sk.score
FROM SEMANTICKEYPHRASETABLE(RemoteRAG, summary, @DocumentId) AS sk
order by score desc;
END;
GO
