USE
[AIDataRAG]
GO
/****** Object:  StoredProcedure [dbo].[sp_SafeCalculateRAGScores]    Script Date: 3/27/2026 1:09:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
IF OBJECT_ID(N'[dbo].[sp_SafeCalculateRAGScores]', N'P') IS NOT NULL
    DROP PROCEDURE
[dbo].[sp_SafeCalculateRAGScores];
GO

CREATE PROCEDURE [dbo].[sp_SafeCalculateRAGScores]
AS
BEGIN
    SET
NOCOUNT ON;

	IF
EXISTS (
		SELECT 1
		FROM sys.indexes
		WHERE name = N'VIX_RemoteRAG_embedding'
		  AND object_id = OBJECT_ID(N'dbo.RemoteRAG')
	)
BEGIN
DROP INDEX [VIX_RemoteRAG_embedding] ON [dbo].[RemoteRAG];
END;

EXEC [dbo].[sp_RecalculateRAGScores] @ForceRecalculation = 1;

	IF
NOT EXISTS (
		SELECT 1
		FROM sys.indexes
		WHERE name = N'VIX_RemoteRAG_embedding'
		  AND object_id = OBJECT_ID(N'dbo.RemoteRAG')
	)
BEGIN
		CREATE
VECTOR INDEX [VIX_RemoteRAG_embedding] ON [dbo].[RemoteRAG]
		(
			[embedding]
		) WITH (METRIC = 'COSINE', TYPE = 'DiskANN') ON [PRIMARY];
END
ELSE
BEGIN
		ALTER
INDEX [VIX_RemoteRAG_embedding] ON [dbo].[RemoteRAG] REBUILD;
END;
END


GO
