USE
[AIChatHistory]
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerateTextChunks]    Script Date: 3/27/2026 3:40:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
IF OBJECT_ID(N'[dbo].[sp_GenerateTextChunks]', N'P') IS NOT NULL
    DROP PROCEDURE
[dbo].[sp_GenerateTextChunks];
GO

CREATE PROCEDURE [dbo].[sp_GenerateTextChunks] 

AS
BEGIN


INSERT INTO dbo.ChatHistoryTextChunks
(MessageID,
 ChunkSetID,
 ChunkOrder,
 SET NOCOUNT ON;
ChunkOffset
,
    ChunkLength,
    ChunkText
)
SELECT t.MessageID,
       c.chunk_set_id AS ChunkSetID,
       c.chunk_order  AS ChunkOrder,
       c.chunk_offset AS ChunkOffset,
       c.chunk_length AS ChunkLength,
;
WITH GeneratedChunks AS
    (SELECT t.MessageID,
            c.chunk_set_id AS ChunkSetID,
            c.chunk_order  AS ChunkOrder,
            c.chunk_offset AS ChunkOffset,
            c.chunk_length AS ChunkLength,
            c.chunk        AS ChunkText
     FROM dbo.ChatHistoryMessages t
    CROSS APPLY AI_GENERATE_CHUNKS(
    source = t.Content
   , chunk_type = FIXED
   , chunk_size = 250
   , enable_chunk_set_id = 1
    ) c
    )
INSERT
INTO dbo.ChatHistoryTextChunks
(MessageID,
 ChunkSetID,
 ChunkOrder,
 ChunkOffset,
 ChunkLength,
 ChunkText)
SELECT gc.MessageID,
       gc.ChunkSetID,
       gc.ChunkOrder,
       gc.ChunkOffset,
       gc.ChunkLength,
       gc.ChunkText
FROM GeneratedChunks gc
WHERE NOT EXISTS
          (SELECT 1
           FROM dbo.ChatHistoryTextChunks existing
           WHERE existing.MessageID = gc.MessageID
             AND existing.ChunkSetID = gc.ChunkSetID
             AND existing.ChunkOrder = gc.ChunkOrder);

SELECT @@ROWCOUNT AS ChunksInserted;
