USE
[AIChatHistory]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLastConversationId]    Script Date: 3/27/2026 3:40:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
	IF OBJECT_ID(N'[dbo].[sp_GetLastConversationId]', N'P') IS NOT NULL
    DROP PROCEDURE
[dbo].[sp_GetLastConversationId];
GO

CREATE PROCEDURE [dbo].[sp_GetLastConversationId](
	@applicationId nvarchar(100),
	@userId nvarchar(100),
	@agentId nvarchar(100),
	@conversationId nvarchar(100) OUTPUT)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET
NOCOUNT ON;
		SET
@conversationId = NULL;

		-- Use deterministic ordering so tied timestamps return stable results.
SELECT TOP(1)
           @ conversationId = ConversationId
FROM dbo.ChatHistoryMessages
WHERE ApplicationId = @applicationId
  AND UserId = @userId
  AND AgentId = @agentId
ORDER BY COALESCE(CreatedAt, CAST(TimestampUtc AS datetime2(7))) DESC,
         Id DESC;
END
GO
