USE
[AIChatHistory]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmbedding]    Script Date: 3/27/2026 3:40:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Kyle Crowder
-- Create date: 3/10/26
-- Description:	Generate vector to search with
-- =============================================
IF OBJECT_ID(N'[dbo].[sp_GetEmbedding]', N'P') IS NOT NULL
    DROP PROCEDURE
[dbo].[sp_GetEmbedding];
GO

CREATE PROCEDURE [dbo].[sp_GetEmbedding] 

@InputText NVARCHAR(MAX) = NULL,
@Vector vector(1024) OUTPUT

AS
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET
NOCOUNT ON;

		-- Reject empty input instead of generating unstable embeddings.
		IF
NULLIF(LTRIM(RTRIM(@InputText)), N'') IS NULL
BEGIN
			THROW
50001, N'@InputText must be non-empty.', 1;
END;

SELECT @Vector = CAST(AI_GENERATE_EMBEDDINGS(@InputText USE MODEL MXEMBED) as Vector(1024));


RETURN 0;

END
GO
