USE
[AIChatHistory]
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerateEmbedding]    Script Date: 3/27/2026 3:40:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'[dbo].[sp_GenerateEmbedding]', N'P') IS NOT NULL
    DROP PROCEDURE
[dbo].[sp_GenerateEmbedding];
GO

CREATE PROCEDURE [dbo].[sp_GenerateEmbedding] 
	
AS
BEGIN
	SET
NOCOUNT ON;

	-- Generate and store embeddings for messages
	-- If @MessageId is provided, update only that message; otherwise update all messages with NULL embeddings
UPDATE chm
SET Embedding = CAST(AI_GENERATE_EMBEDDINGS(chm.ChunkText USE MODEL MXEMBED) AS VECTOR(1024)) FROM dbo.ChatHistoryTextChunks chm
WHERE (chm.Embedding IS NULL);

-- Return count of updated records
SELECT @@ROWCOUNT AS EmbeddingsGenerated;
END
GO
