USE
[AIChatHistory]
GO
/****** Object:  Table [dbo].[ChatHistoryTextChunks]    Script Date: 3/27/2026 3:40:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatHistoryTextChunks]
(
    [
    ChunkRecordID] [
    int]
    IDENTITY
(
    1,
    1
) NOT NULL,
    [MessageID] [uniqueidentifier] NOT NULL,
    [ChunkSetID] [bigint] NOT NULL,
    [ChunkOrder] [bigint] NOT NULL,
    [ChunkOffset] [bigint] NOT NULL,
    [ChunkLength] [bigint] NOT NULL,
    [ChunkText] [nvarchar]
(
    max
) NOT NULL,
    [CreatedAt] [datetime2]
(
    7
) NOT NULL,
    [Embedding] [vector]
(
    1024,
    float32
) NULL,
    CONSTRAINT [PK__tmp_ms_x__B2ED0F6BA39E36A4] PRIMARY KEY CLUSTERED
(
[
    ChunkRecordID]
    ASC
)
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF)
    ON [PRIMARY]
    )
    ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
    GO
/****** Object:  FullTextIndex     Script Date: 3/27/2026 3:40:59 AM ******/
CREATE
FULLTEXT INDEX ON [dbo].[ChatHistoryTextChunks](
[ChunkText] LANGUAGE 'English' STATISTICAL_SEMANTICS)
KEY INDEX [PK__tmp_ms_x__B2ED0F6BA39E36A4]ON ([ChatChunkIdx], FILEGROUP [PRIMARY])
WITH (CHANGE_TRACKING = AUTO, STOPLIST = SYSTEM)

GO
ALTER TABLE [dbo].[ChatHistoryTextChunks] ADD CONSTRAINT [DF__tmp_ms_xx__Creat__2FCF1A8A] DEFAULT (sysdatetime()) FOR [CreatedAt]
    GO
    SET ANSI_PADDING ON
    GO
/****** Object:  Index [VIX_ChatHistoryTextChunks_Embedding]    Script Date: 3/27/2026 3:40:59 AM ******/
CREATE
VECTOR INDEX [VIX_ChatHistoryTextChunks_Embedding] ON [dbo].[ChatHistoryTextChunks]
(
	[Embedding]
)WITH (METRIC = 'COSINE', TYPE = 'DiskANN') ON [PRIMARY]
GO
