USE
[AIChatHistory]
GO
/****** Object:  Table [dbo].[ChatHistoryMessages]    Script Date: 3/27/2026 3:40:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatHistoryMessages]
(
    [
    Id] [
    int]
    IDENTITY
(
    1,
    1
) NOT NULL,
    [MessageId] [uniqueidentifier] NOT NULL,
    [ConversationId] [nvarchar]
(
    128
) NOT NULL,
    [SessionId] [nvarchar]
(
    128
) NULL,
    [AgentId] [nvarchar]
(
    128
) NOT NULL,
    [UserId] [nvarchar]
(
    128
) NOT NULL,
    [ApplicationId] [nvarchar]
(
    128
) NOT NULL,
    [Role] [nvarchar]
(
    32
) NOT NULL,
    [Content] [nvarchar]
(
    max
) NOT NULL,
    [CreatedAt] [datetime2]
(
    7
) NULL,
    [TimestampUtc] [datetimeoffset]
(
    7
) NOT NULL,
    [Metadata] [nvarchar]
(
    max
) NULL,
    [Enabled] [bit] NULL,
    [Embedding] [vector]
(
    1024,
    float32
) NULL,
    [Summary] [nvarchar]
(
    2000
) NULL,
    [Keywords] [nvarchar]
(
    400
) NULL,
    CONSTRAINT [PK_ChatHistory_Id] PRIMARY KEY CLUSTERED
(
[
    Id]
    ASC
)
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF)
    ON [PRIMARY]
    )
    ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
    GO
/****** Object:  Index [IX_Chat_FTS_Cover]    Script Date: 3/27/2026 3:40:59 AM ******/
CREATE
NONCLUSTERED INDEX [IX_Chat_FTS_Cover] ON [dbo].[ChatHistoryMessages]
(
	[Id] ASC
)
INCLUDE([Content],[Summary],[Keywords]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChatHistory_Enabled]    Script Date: 3/27/2026 3:40:59 AM ******/
CREATE
NONCLUSTERED INDEX [IX_ChatHistory_Enabled] ON [dbo].[ChatHistoryMessages]
(
	[Enabled] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChatHistory_UserId]    Script Date: 3/27/2026 3:40:59 AM ******/
CREATE
NONCLUSTERED INDEX [IX_ChatHistory_UserId] ON [dbo].[ChatHistoryMessages]
(
	[UserId] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  FullTextIndex     Script Date: 3/27/2026 3:40:59 AM ******/
CREATE
FULLTEXT INDEX ON [dbo].[ChatHistoryMessages](
[Content] LANGUAGE 'English' STATISTICAL_SEMANTICS, 
[Keywords] LANGUAGE 'English' STATISTICAL_SEMANTICS, 
[Summary] LANGUAGE 'English' STATISTICAL_SEMANTICS)
KEY INDEX [PK_ChatHistory_Id]ON ([ChatHistoryCat], FILEGROUP [PRIMARY])
WITH (CHANGE_TRACKING = AUTO, STOPLIST = SYSTEM)

GO
ALTER TABLE [dbo].[ChatHistoryMessages] ADD CONSTRAINT [DF_ChatHistoryMessages_Enabled] DEFAULT ((0)) FOR [Enabled]
    GO
/****** Object:  Trigger [dbo].[tr_generate_embeddings]    Script Date: 3/27/2026 3:40:59 AM ******/
    SET ANSI_NULLS ON
    GO
    SET QUOTED_IDENTIFIER ON
    GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	Updates embeddings when Summary column changes
-- =============================================
CREATE TRIGGER [dbo].[tr_generate_embeddings]
ON [dbo].[ChatHistoryMessages]
AFTER INSERT,
UPDATE
    AS
BEGIN
    SET
NOCOUNT ON;

    -- Prevent recursion
    IF
TRIGGER_NESTLEVEL() > 1 RETURN;

    -- Only regenerate when Summary changes
    IF
NOT
UPDATE (Content) RETURN;

BEGIN TRY
UPDATE t
SET t.Embedding =
        CAST(
                AI_GENERATE_EMBEDDINGS(i.Content USE MODEL MXEMBED)
            AS VECTOR (1024)
        ) FROM dbo.ChatHistoryMessages t
        INNER JOIN inserted i
ON t.MessageId = i.MessageId
WHERE i.Content IS NOT NULL;
END TRY
BEGIN CATCH
        DECLARE
@ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR
('Error generating embeddings: %s', 16, 1, @ErrorMessage);
END CATCH
END
GO
ALTER TABLE [dbo].[ChatHistoryMessages] ENABLE TRIGGER [tr_generate_embeddings]
    GO
/****** Object:  Trigger [dbo].[tr_generate_keywords]    Script Date: 3/27/2026 3:40:59 AM ******/
    SET ANSI_NULLS ON
    GO
    SET QUOTED_IDENTIFIER ON
    GO

-- =============================================
-- Author:		Kyle Crowder
-- Create date: 3/22/2026
-- Description:	Trigger generates keywords for newly inserted or updated chat messages
-- =============================================
CREATE TRIGGER [dbo].[tr_generate_keywords]
ON [dbo].[ChatHistoryMessages]
AFTER INSERT,
UPDATE
    AS
BEGIN
    SET
NOCOUNT ON;

    IF
TRIGGER_NESTLEVEL() > 1 RETURN;

    IF
NOT
UPDATE (Keywords) RETURN;

DECLARE
@MessageId UNIQUEIDENTIFIER;
    DECLARE
@Content NVARCHAR(MAX);

    -- Loop through every row in inserted
    DECLARE
c CURSOR LOCAL FAST_FORWARD FOR
SELECT MessageId, Content
FROM inserted;

OPEN c;

FETCH NEXT FROM c INTO @MessageId, @Content;

WHILE
@@FETCH_STATUS = 0
BEGIN
        -- Call the stored procedure for each row
EXEC sp_GenerateKeywords @MessageId, @Content;

FETCH NEXT FROM c INTO @MessageId, @Content;
END

CLOSE c;
DEALLOCATE
c;
END
GO
ALTER TABLE [dbo].[ChatHistoryMessages] ENABLE TRIGGER [tr_generate_keywords]
    GO
/****** Object:  Trigger [dbo].[tr_generate_summaries]    Script Date: 3/27/2026 3:40:59 AM ******/
    SET ANSI_NULLS ON
    GO
    SET QUOTED_IDENTIFIER ON
    GO
-- =============================================
-- Author:		Kyle Crowder
-- Create date: 3/20/26
-- Description:	Keeps tables summaries populated
-- =============================================
CREATE TRIGGER [dbo].[tr_generate_summaries]
ON [dbo].[ChatHistoryMessages]
AFTER INSERT,
UPDATE
    AS
BEGIN
    SET
NOCOUNT ON;

    IF
TRIGGER_NESTLEVEL() > 1 RETURN;

    DECLARE
@MessageId UNIQUEIDENTIFIER;
    DECLARE
@Content NVARCHAR(MAX);

    -- Loop through every row in inserted
    DECLARE
c CURSOR LOCAL FAST_FORWARD FOR
SELECT MessageId, Content
FROM inserted;

OPEN c;

FETCH NEXT FROM c INTO @MessageId, @Content;

WHILE
@@FETCH_STATUS = 0
BEGIN
            -- Call the stored procedure for each row
EXEC dbo.sp_GenerateSummary @MessageId, @Content;

FETCH NEXT FROM c INTO @MessageId, @Content;
END

CLOSE c;
DEALLOCATE
c;
END
GO
ALTER TABLE [dbo].[ChatHistoryMessages] ENABLE TRIGGER [tr_generate_summaries]
    GO
